<%- include("../partials/header.ejs"); %>

<div class="container">
    <h1>Information about a particular accommodation</h1>

    <div class="row">
        <% for (var i = 0; i < accommodation.photos.length; i++) { %>
            <div class="col-4">
                <div class="card">
                    <div class="image" style="height: 200px;">
                        <img src="<%= accommodation.photos[i].src %>" style="max-width: 100%; max-height: 100%;">
                    </div>
                </div>
            </div>
        <% } %>
    </div>
    <div class="row">
        <ul class="list-group">
            <li><%= accommodation.name %></li>
            <li><%= accommodation.address %></li>
            <li><%= accommodation.description %></li>
            <% for (var i = 0; i < accommodation.roomTypes.length; i++) { %>
                <hr>
                <li><%= accommodation.roomTypes[i].name %></li>
                <li>Recommended for <%= accommodation.roomTypes[i].peopleNo %> people</li>
                <li>Number of rooms: <%= accommodation.roomTypes[i].roomCount %></li>
                <li>Price: $<%= accommodation.roomTypes[i].price %></li>
            <% } %>
        </ul>
    </div>
   
</div>


<%- include("../partials/footer.ejs"); %>