<%- include("../partials/header.ejs"); %>

<div class="container">
    <h1>Information about a particular accommodation</h1>

    <div class="row">
        <% for (var i = 0; i < accommodation.photos.length; i++) { %>
            <div class="col-4">
                <div class="card">
                    <div class="image" style="height: auto;">
                        <img src="<%= accommodation.photos[i].src %>" style="max-width: 100%; max-height: 100%;">
                    </div>
                </div>
            </div>
        <% } %>
    </div>
    <div class="row">
        <ul class="list-group">
            <li><%= accommodation.name %></li>
            <li><%= accommodation.address %></li>
            <li><%= accommodation.description %></li>

            <% for (var i = 0; i < accommodation.roomTypes.length; i++) { %>
                <hr>
                <li><%= accommodation.roomTypes[i].name %></li>
                <li><%= accommodation.roomTypes[i].beds %></li>
                <li>Recommended for <%= accommodation.roomTypes[i].peopleCount %> people</li>
                <li>Number of rooms: <%= accommodation.roomTypes[i].availableRooms %></li>
                <li>
                    Facilities:
                    <ul>
                        <% accommodation.roomTypes[i].facilities.forEach(function(facility){ %>
                            <li><%= facility %></li>
                        <% }); %>
                    </ul>
                </li>
                <li>Price: $<%= accommodation.roomTypes[i].price %> / night</li>
            <% } %>
        </ul>
    </div>
    <hr>
    <form action="/user/bookings" method="POST">
        <div class="form-group">
            <label for="room">Room</label>
            <select class="form-control" id="room" name="book[room]" required>
                <% for (var i = 0; i < accommodation.roomTypes.length; i++) { %>
                    <option><%= accommodation.roomTypes[i].name %></option>
                <% } %>
            </select>
        </div>

        <div class="form-group">
            <label for="checkIn">Check-In</label>
            <input type="date" class="form-control" id="checkIn" name="book[checkIn]" required>
        </div>
        <div class="form-group">
            <label for="checkOut">Check-Out</label>
            <input type="date" class="form-control" id="checkOut" name="book[checkOut]" required>
        </div>

        <div class="form-group">
            <label for="adults">Adults</label>
            <select class="form-control" id="adults" name="book[adults]" required>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
            </select>
        </div>
        
        <div class="form-group">
            <input type="number" class="form-control" name="book[price]" id="price" placeholder="Price" required>
        </div>

        <input type="hidden" name="book[accommodation]" value="<%= accommodation._id %>" required>

        <% if (isLoggedIn) { %>
            <button class="btn btn-success">Book a room</button>
        <% } else { %>
            <a class="btn btn-info" href="/user/login">Login to book</a>
        <% } %>
    </form>
</div>


<%- include("../partials/footer.ejs"); %>